---
import Base from '../../layouts/Base.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Base meta={{ title: 'Blog' }}>
  <section>
    <h1 class="text-3xl font-bold font-heading mb-8 text-light-text dark:text-dark-text">Welcome to my blog</h1>
    <p class="text-light-text dark:text-dark-text text-lg mb-8">Here you can find my thoughts and ideas about AI, Machine Learning, Computer Vision, and more ...</p>

    <ul class="space-y-8">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`} class="block group border border-light-border dark:border-dark-border rounded-xl p-6 hover:bg-gray-100 dark:hover:bg-gray-800 transition-all">
              <h2 class="text-2xl font-bold font-heading text-light-text dark:text-dark-text group-hover:text-light-accent dark:group-hover:text-dark-accent transition-colors mb-5">
                {post.data.title}
              </h2>
              <p class="text-sm text-light-muted dark:text-dark-muted mt-1">
                {post.data.pubDate.toLocaleDateString('en-us', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                })}
              </p>
              <p class="mt-2 text-light-text dark:text-dark-text opacity-80">
                {post.data.description}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
